@define-color text       #cdd6f4;
@define-color background #313244;
@define-color selected   #89b4fa;

@define-color background-selected #45475a;

* {
	font-family: Iosevka Nerd Font;
	font-size: 13px;
	min-height: 0;
}

#waybar {
	background: transparent;
	margin: 5px;
	color: @text;
}

button {
	background: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	border: none;
}

button:hover {
	background: none;
	box-shadow: none;
	transition: none;
	text-shadow:none;
}

#workspaces {
	margin: 5px;
	margin-left: 1rem;
	border-radius: 1rem;
	background-color: @background;
}

#workspaces button {
	color: @text;
	padding: 5px 10px 5px 5px;
	border-radius: 1rem;
}

#workspaces button.active {
	color: @selected;
}

#workspaces button:hover {
	background-color: @background-selected;
}

#pulseaudio:hover {
	background-color: @background-selected;
}

#clock,
#tray,
#memory,
#cpu,
#temperature,
#network,
#pulseaudio,
#battery,
#custom-power {
	background-color: @background;
	padding: 0.5rem 1rem;
	margin: 5px 0;
}

#clock {
/*	border-radius: 1rem 1rem 1rem 1rem; */
}

#cpu {
}

#memory {
	border-radius: 1rem 0rem 0rem 1rem;
}

#disk {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#temperature {
}

#temperature.critical {
}

#custom-power {
	border-radius: 0rem 1rem 1rem 0rem;
	margin-right: 1rem;
}

#custom-power:hover {
	background-color: @background-selected;
}

#network:hover {
	background-color: @background-selected;
}

#clock:hover {
	background-color: @background-selected;
}

#tray:hover {
	background-color: @background-selected;
}
